# Application configuration
APP_NAME="Social Media App"
APP_ENV="local"
APP_PORT=3000

# Database configuration
DATABASE_URL="postgresql://<your-role-name>:<your-role-password>@localhost:5432/socialpage?schema=public"
SESSION_SECRET="<your-session-secret>"

# Third Party API configuration
CLOUDINARY_CLOUD_NAME="<your-cloudinary-name>"
CLOUDINARY_API_KEY="<your-cloudinary-key>"
CLOUDINARY_API_SECRET="<your-cloudinary-secret>"