# Application configuration
NODE_ENV="development"
APP_PORT=3000

# Database configuration
DATABASE_URL="postgresql://<your-role-name>:<your-role-password>@localhost:5432/socialpage?schema=public"
CLIENT_URL="http://localhost:5173"
JWT_SECRET="<your-jwt-secret>"

# Third Party API configuration
CLOUDINARY_CLOUD_NAME="<your-cloudinary-name>"
CLOUDINARY_API_KEY="<your-cloudinary-key>"
CLOUDINARY_API_SECRET="<your-cloudinary-secret>"