body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3em;
}

span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0em 2em;
    gap: 1em;
}

h1 {
    font-size: 2em;
}

label {
    font-size: 1.2em;
}

input, textarea {
    font-size: 1em;
    border: 1px solid black;
    padding: 0.2em 0.7em;
    width: 15em;
}

textarea {
    width: fit-content;
}

button {
    width: fit-content;
    padding: 0.2em 1.2em;
    background-color: rgb(58, 58, 194);
    color: white;
    font-weight: 900;
}

#root {
    padding: 0;
}

.post-details {
    gap: 2em;
    padding: 2em;
}

.post-buttons {
    flex-direction: row;
    justify-content: center;
}

.comment, .comment-details, .post-details, .post-buttons {
    padding: 1em;
}

.comment-details {
    display: grid;
    grid-template-columns: 0.7fr 1.2fr 3fr 2fr 0.7fr 0.5fr;
    width: 100%;
    align-items: center;
    background-color: white;
    border-radius: 2em;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image {
    overflow: hidden;
    border-radius: 50%;
    padding: 0;
}
.preview {
    width: 20em;
    height: 20em;
}

.profile {
    width: 10em;
    height: 10em;
}

.user {
    width: 5em;
    height: 5em;
}

.user-comment {
    width: 3em;
    height: 3em;
}

a {
    text-decoration: none;
    color: black;
}

.home {
    color: white;
    font-weight: 900;
}

li {
    list-style-type: none;
    color: white;
    font-weight: 900;
}

header, footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em;
    background-color: rgb(58, 58, 194);
    color: white;
}

footer {
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
}

nav > ul {
    display: flex;
    gap: 2em;
}

li > button {
    width: fit-content;
    height: auto;
    font-size: 1em;
    padding: 0em;
    border: none;
    background-color: inherit;
    color: inherit;
}

.page {
    padding: 0;
    gap: 0;
    min-height: 100vh;
}

.user-details, .peer-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(242, 242, 242);
    width: 100%;
    padding: 2em;
    gap: 1em;
}

.post-details, .post-buttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em 0em;
    padding-bottom: 1em;
    background-color: white;
    border-radius: 2em;
}

.post-buttons {
    width: 75%;
}

.user-posts {
    display: flex;
    flex-direction: column;
    background-color: rgb(242, 242, 242);
    width: 100%;
    gap: 1em;
}

.user-peers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    background-color: rgb(242, 242, 242);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1em;
}

.comment {
    width: 100%;
}

.comments {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 1em;
    gap: 1em;
    background-color: rgb(215, 214, 214);
}

.post, .peer {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    border-radius: 2em;
    padding: 1em;
    gap: 1em;
    overflow: hidden;
    background-color: rgb(215, 214, 214);
}

.peer {
    width: 100%;
    padding: 2em;
    gap: 1em;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5em;
    align-items: center;
    gap: 1em;
    background-color: rgb(215, 214, 214);
}

.following, .followed {
    padding: 0;
    gap: 1em;
}

.no-posts, .no-followers {
    padding: 1em;
}

.file {
    background-color: white;
}