body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 100%;
    padding: 5em;
    gap: 1em;
}

span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0em 2em;
    gap: 1em;
}

h1 {
    font-size: 2em;
}

label {
    font-size: 1.2em;
}

input, textarea {
    font-size: 1em;
    border: 1px solid black;
    padding: 0.2em 0.7em;
    width: 15em;
}

textarea {
    width: fit-content;
}

button {
    width: fit-content;
    font-size: 1.2em;
    padding: 0em 1.2em;
    border: 1px solid black;
}

#root {
    padding: 0;
}

.post-details {
    gap: 2em;
    padding: 2em;
}

.post-buttons {
    flex-direction: row;
    justify-content: center;
}

.comment, .comment-details, .post-details, .post-buttons {
    padding: 1em;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image {
    overflow: hidden;
    border-radius: 50%;
    padding: 0;
}
.preview {
    width: 20em;
    height: 20em;
}

.profile {
    width: 15em;
    height: 15em;
}

.user-post {
    width: 8em;
    height: 8em;
}

.user-comment {
    width: 5em;
    height: 5em;
}