/* General element stylings */
body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
}

header, footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em;
    background-color: rgb(58, 58, 194);
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1em;
}

footer {
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
}

section {
    width: 100%;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3em;
}

span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

button {
    width: fit-content;
    padding: 0.2em 1.2em;
    background-color: rgb(58, 58, 194);
    color: white;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: black;
}

/* List specific stylings */
ul {
    display: flex;
    align-items: center;
    gap: 2em;
}

li {
    list-style-type: none;
    color: white;
    font-weight: 900;
}

li > button {
    padding: 0em;
}

/* Form specific stylings */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1em;
}
/* form container */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em;
    gap: 1em;
    background-color: rgb(215, 214, 214);
}

label {
    display: flex;
    width: fit-content;
    gap: 0.5em;
    font-size: 1.2em;
}

input, textarea {
    font-size: 1em;
    border: 1px solid black;
    padding: 0.2em 0.7em;
    width: 20%;
}

.file {
    background-color: white;
}

/* Specific styling rules */
#root {
    padding: 0;
}
/* container for each page */
.page {
    padding: 0;
    gap: 0;
    min-height: 100vh;
}
/* container for all posts on user home page */
.user-posts {
    display: flex;
    flex-direction: column;
    background-color: rgb(242, 242, 242);

}
/* container for all peers on user network page*/
.user-peers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(242, 242, 242);
}

.user-details, .peer-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(242, 242, 242);
    padding: 2em;
    gap: 1em;
}

.post, .peer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2em;
    padding: 1em;
    gap: 1em;
    overflow: hidden;
    background-color: rgb(215, 214, 214);
}

.post {
    width: 60%;
}

.post-details, .post-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em 0em;
    margin-bottom: 1em;
    background-color: white;
    border-radius: 2em;
}

.post-buttons {
    width: 75%;
}

.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    gap: 1em;
    background-color: rgb(215, 214, 214);
}

.comment, .comment-details {
    padding: 1em;
}

.comment-details {
    display: grid;
    grid-template-columns: 0.7fr 1.2fr 3fr 2fr 0.7fr 0.5fr;
    align-items: center;
    background-color: white;
    border-radius: 1.5em;
}

/* padding and gapping for follows and following controls on network page */
.following, .followed {
    padding: 0;
    gap: 1em;
}
/* padding for message when user has no posts or followers */
.no-posts, .no-followers {
    padding: 1em;
}

/* Image specific stylings */
.image {
    overflow: hidden;
    border-radius: 50%;
    padding: 0;
}
/* size for profile pic when on update profile pic page */
.preview {
    width: 20em;
    height: 20em;
}
/* size for profile picture at top of user home, user network pages, and peer cards on network page */
.profile {
    width: 10em;
    height: 10em;
}
/* size for profile picture on posts*/
.user {
    width: 5em;
    height: 5em;
}
/* size for profile picture on comments */
.user-comment {
    width: 3em;
    height: 3em;
}

.red {
    color: rgb(204, 16, 16);
}

@media screen and (max-width: 767px) {
    body {
        font-size: 8px;
    }

    header {
        padding: 1em;
    }

    input, textarea {
        width: 60%;
    }

    .post-details {
        flex-direction: column;
        gap: 1em;
    }

    .post-buttons {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 1em;
    }
    
    .post-buttons > * {
        width: 90%;
    }

    .post-buttons > * > * {
        width: 100%;
    }

    .comment-details {
        grid-template-columns: 1fr 1fr;
        gap: 0.5em;
        justify-items: center;
    }

    .comment-details > * {
        width: 100%;
        justify-items: center;
        text-align: center;
    }

    .comment-details > button {
        width: fit-content;
    }

    .user-peers {
        grid-template-columns: 1fr 1fr;
    }

    .no-followers {
        background-color: rgb(242, 242, 242);
    }
}